<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css"
        href="assets/css/aboutwim.css">
	</head>
<body>
	<div id="topbar">
		<div class="navbar-item">
			<img src = "assets/images/logo.jpg" align = "left">
		</div> 
		<div class="navbar-item"><img src = "assets/images/facebook.png"></div>
		<div class="navbar-item"><img src = "assets/images/instagram.png"></div>
		<div class="navbar-item"><img src = "assets/images/slack.png"></div>
		<div class="navbar-item"><img src = "assets/images/linkedin.png"></div>
		<div class="navbar-item"><img src = "assets/images/gmail.png"></div>
		<div class="navbar-item"> Home </div>
		<div class="navbar-item"> About WIM </div>
		<div class="navbar-item"> Events </div>
		<div class="navbar-item"> Resources </div>
		<div class = "navbar-item">
			<img src="assets/images/search.png"> </div>
		<div class = "navbar-item">	
			<input type="text" placeholder="Search">
		</div>
	</div>
	<div id="committees">
		Committees
		<div class="phototwo">
			<img src="assets/images/about_wim/presidents.jpg">
			<div class="descrip"> 
				<p> Emily Fleming & Alma Pineda </p>
			</div>
		</div>
		<div class="phototwo">
			<img src="assets/images/about_wim/academic.jpg">
			<div class="descrip"> 
				<p> Marcela Siqueira & Simran Sachdev </p>
			</div>
		</div>
		<div class="phototwo">
			<img src="assets/images/about_wim/webdev.jpg">
			<div class="descrip"> 
				<p> Soobin Hong & Sabrina Zhao </p>
			</div>
		</div>
		<div class="phototwo">
			<img src="assets/images/about_wim/treasury.jpg">
			<div class="descrip"> 
				<p> Sara Imam & Hawraa Al Asadi </p>
			</div>
		</div>
		<div class="phototwo">
			<img src="assets/images/about_wim/social.jpg">
			<div class="descrip"> 
				<p> Dana Yang & Jasmine Espinoza </p>
			</div>
		</div>
	</div>
	<div id="officers">
		Officers
		<div class="line">
			<div class="indivphoto">
				<img src="assets/images/about_wim/Emily.jpg">
				<div class="bio">
					<div class="name"> Emily Fleming </div>
					<p> <b>Position:</b> Co-President
					<br> <b>Year:</b> Senior (4th year)
					<br> <b>Major/Minor:</b> Pure math, CalTeach(minor)
					<br> <b>Hobbies/Interests/Fun facts:</b> My essence is hot cheetos, sliver pizza, knitting, baking, Pentatonix, and Grey's Anatomy. Otherwise, catch me doing something related to math education!
					<br> <b>Other Involvements on Campus:</b> I'm basically always at the SLC (Student Learning Center) where I tutor. I'm also in the Rally Committee (go bears!).
					</p>
				</div>
			</div>
			<div class="indivphoto">
				<img src="assets/images/about_wim/Alma.jpg">
				<div class="bio">
					<div class="name"> Alma Pineda </div>
					<p> <b>Position:</b> Co-President
					<br> <b>Year:</b> Senior (4th year)
					<br> <b>Major/Minor:</b> Applied Math & Data Science
					<br> <b>Hobbies/Interests/Fun facts:</b> I enjoy gouache painting, singing, and thrift store shopping! A fun fact about myself is that I've been in Gig Car Share commercials and want to be sponsored by Soylent.
					<br> <b>Other Involvements on Campus:</b> I am also Social Co-Chair for Codeology -- a programming club -- as well as one of their Machine Learning project leaders. I have two jobs on campus, one as a Curriculum Development Lead for the Department of Data Science and another as a Software Developer for the Boalt School of Law! I'm also involved in UCB HES (or Hispanic Engineers and Scientists)!
					</p>
				</div>
			</div>
			<div class="indivphoto">
				<img src="assets/images/about_wim/Jasmine.jpg">
				<div class="bio">
					<div class="name"> Jasmine Espinoza </div>
					<p> <b>Position:</b> Social Co-Chair
					<br> <b>Year:</b> Senior (4th year)
					<br> <b>Major/Minor:</b> Math with Teaching Concentration, CalTeach(minor)
					<br> <b>Hobbies/Interests/Fun facts:</b> I am addicted to binge watching tv shows! I have seen The Office 8 times and usually go through shows in days/weeks. Im always looking for something new to watch. 
					<br> <b>Other Involvements on Campus:</b> I love to teach math! I am a math tutor at the Student Learning Center. 
					</p>
				</div>
			</div>
		</div>
		<div class="line">
			<div class="indivphoto">
				<img src="assets/images/about_wim/Valeria.jpg">
				<div class="bio">
					<div class="name"> Valeria Garcia </div>
					<p> <b>Position:</b> Fundraising Co-Chair
					<br> <b>Year:</b> Senior (4th year)
					<br> <b>Major/Minor:</b> Applied Math, Ethnic Studies(minor)
					<br> <b>Hobbies/Interests/Fun facts:</b> Hi, I'm Valeria! I'm originally from McFarland, CA which lies in the Central Valley. Fun fact - Disney made a movie about my town called McFarland USA. I definitely recommend to watch! During my free time, I love hanging out with friends, going to the gym, and binge-watching cooking shows on Netflix.  
					<br> <b>Other Involvements on Campus:</b> This past summer I had the opportunity to have my first research experience by carrying out my own research project through the McNair Scholars Program on campus. If you have any questions about research, math, or anything at all feel free to reach out to me! 
					</p>
				</div>
			</div>
			<div class="indivphoto">
				<img src="assets/images/about_wim/Sabrina.jpg">
				<div class="bio">
					<div class="name"> Sabrina Zhao </div>
					<p> <b>Position:</b> Web-Dev Co-Chair
					<br> <b>Year:</b> Sophomore (2nd year)
					<br> <b>Major/Minor:</b> Computer Science & Operations Research and Management Science
					<br> <b>Hobbies/Interests/Fun facts:</b> Hiking, Outdoor Activities
					<br> <b>Other Involvements on Campus:</b> I have been doing marketing and publicity related work at ASUC and tutoring at the SLC since last spring:). 
					</p>
				</div>
			</div>
			<div class="indivphoto">
				<img src="assets/images/about_wim/Marcela.jpg">
				<div class="bio">
					<div class="name"> Marcela Siqueira </div>
					<p> <b>Position:</b> Academic Outreach Co-Chair
					<br> <b>Year:</b> Senior (4th year)
					<br> <b>Major/Minor:</b> Applied Math, Education(minor)
					<br> <b>Hobbies/Interests/Fun facts:</b> I love going camping and hiking. Some of my strongest interests are in Law and Education - I believe that without a strong education no society can be fully developed. 
					</p>
				</div>
			</div>
		</div>
		<div class="line">
			<div class="indivphoto">
				<img src="assets/images/about_wim/Simran.jpg">
				<div class="name"> Simran Sachdev </div>
					<p> <b>Position:</b> Academic Outreach Co-Chair
					<br> <b>Year:</b> Junior (3rd year)
					<br> <b>Major/Minor:</b> Applied Math & Data Science, Computer Science(minor)
					<br> <b>Hobbies/Interests/Fun facts:</b> I love traveling, hiking, coding, and baking. I want to pursue a career in the fields of Tech or Finance. 
					<br> <b>Other Involvements on Campus:</b> I'm a part of Data Science Society and a lab assistant for Data 8. I am also a part of the Be The Match organization on campus and have volunteered with them for the past 8 years.
					</p>
				</div>
			</div>
			<div class="indivphoto">
				<img src="assets/images/about_wim/Hawraa.jpg">
				<div class="bio">
					<div class="name"> Hawraa Al Asadi </div>
					<p> <b>Position:</b> Treasury Co-Chair
					<br> <b>Year:</b> Senior (4th year)
					<br> <b>Major/Minor:</b> Applied Math & Chemistry
					<br> <b>Hobbies/Interests/Fun facts:</b> Painting, tennis, badminton and lots of reading 
					<br> <b>Other Involvements on Campus:</b> Volunteer at the Transfer Center
					</p>
				</div>
			</div>
			<div class="indivphoto">
				<img src="assets/images/about_wim/Maria.jpg">
				<div class="bio">
					<div class="name"> Maria Contreras </div>
					<p> <b>Position:</b> Fundraising Co-Chair
					<br> <b>Year:</b> Sophomore (2nd year)
					<br> <b>Major/Minor:</b> Applied Math
					<br> <b>Hobbies/Interests/Fun facts:</b> I'm a Bay Area native, and I enjoy going to the beach and taking some walks through nature whenever possible. I find pleasure in listening to old school rap and R&B! I've also danced for a couple years. 
					<br> <b>Other Involvements on Campus:</b> I tutor middle school students with their math homework!
					</p>
				</div>
			</div>
		</div>
		<div class="line">
			<div class="indivphoto">
				<img src="assets/images/about_wim/Soobin.jpg">
				<div class="bio">
					<div class="name"> Soobin Hong </div>
					<p> <b>Position:</b> Wev-Dev Co-Chair
					<br> <b>Year:</b> Sophomore (2nd year)
					<br> <b>Major/Minor:</b> Applied Math & Cognitive Science
					<br> <b>Hobbies/Interests/Fun facts:</b> I love writing songs and playing them on the piano. Other than that, I either watch videos on Youtube or edit/make videos for my Youtube channel. I have two channels - (<a href ="https://www.youtube.com/channel/UCQ03Udtyph_ZBduZ-Ed86QQ">one about music</a>) and (<a href="https://www.youtube.com/channel/UCDjUcjvmJhh_CBUMVZFGBAA">another about life</a>)!! 
					<br> <b>Other Involvements on Campus:</b> I'm a part of Songwriting At Berkeley (SWAB). I also made a new club called Linguaphile (yes we were inspired by the word 'electrophile' from OChem haha) with my friends my freshman year. It's a pretty chill club sharing different languages and cultures. 
					</p>
				</div>
			</div>
			<div class="indivphoto">
				<img src="assets/images/about_wim/Sara.jpg">
				<div class="bio">
					<div class="name"> Sara Imam </div>
					<p> <b>Position:</b> Treasury Co-Chair
					<br> <b>Year:</b> Sophomore (2nd year)
					<br> <b>Major/Minor:</b> Applied Math & Data Science
					<br> <b>Hobbies/Interests/Fun facts:</b> I own light up shoes!
					<br> <b>Other Involvements on Campus:</b> Data Science Society, March for our Lives, Research
					</p>
				</div>
			</div>
			<div class="indivphoto">
				<img src="assets/images/about_wim/Dana.jpg">
				<div class="bio">
					<div class="name"> Dana Yang </div>
					<p> <b>Position:</b> Social Co-Chair
					<br> <b>Year:</b> Sophomore (2nd year)
					<br> <b>Major/Minor:</b> Applied Math & Data Science
					<br> <b>Hobbies/Interests/Fun facts:</b> In my free time, I enjoy day trips to the city, art, traveling, or outdoor activities like hiking and the beach.
					<br> <b>Other Involvements on Campus:</b> My interests also include volunteer work and community involvement. Youth leadership and service have always been greatly valued in my life. I am currently involved in organizations like BEAM, through which I have the opportunity to design and teach STEM lessons at local schools! In addition to these clubs, I am exploring opportunities to become more actively involved in the math and data science community at Berkeley.
					</p>
				</div>
			</div>
		</div>
	</div>	
	<div id="alumni"> 
		Alumni
	</div>
</body>
</html>