{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" type="text/css"
        href="{% static 'assets/css/homepage.css' %}">
	</head>
<body>
	<div id="topbar">
		<div class="navbar-item">
			<img src = "static/assets/images/logo.jpg" align = "left">
		</div>
		<div class="navbar-item"><img src = "static/assets/images/facebook.png"></div>
		<div class="navbar-item"><img src = "static/assets/images/instagram.png"></div>
		<div class="navbar-item"><img src = "static/assets/images/slack.png"></div>
		<div class="navbar-item"><img src = "static/assets/images/linkedin.png"></div>
		<div class="navbar-item"><img src = "static/assets/images/gmail.png"></div>
		<div class="navbar-item"> Home </div>
		<div class="navbar-item"> About WIM </div>
		<div class="navbar-item"> Events </div>
		<div class="navbar-item"> Resources </div>
		<div class = "navbar-item">
			<img src="static/assets/images/search.png"> </div>
		<div class = "navbar-item">	
			<input type="text" placeholder="Search">
		</div>
	</div>
	<div id="mainphoto">
		<img src = "static/assets/images/homepage/Everyone.jpg">
		<div id="wim">
			<div id="wxm"> WxM </div>
			<div id="fullname"> Womxn in mathematics @ Berkeley</div>
		</div>
	</div>
	<div id="moreitems">
		<div class="list">
			<div class="title"> Who We Are </div> 
			<div class ="paragraph"> Womxn in Mathematics at Berkeley (WxM) is an organization that serves to foster a community and provide a network amongst the undergraduate women in mathematics at Cal. </div>
		</div>
		<div class="list">
			<div class="title"> What We Do </div> 
			<div class ="paragraph"> We have weekly Monday meetings 6-8 pm in 1015 Evans. Check out our other upcoming events! </div>
			<div id="whatwedo">
				<div class="block">
					<div class="icon">
						<img src = "static/assets/images/homepage/graph.png">
					</div>
					<div class="icontitle"> Career Development </div>
					</div>
				</div>
				<div class="block">
					<div class="icon">
						<img src = "static/assets/images/homepage/book.png">
					</div>
					<div class="icontitle"> Academic Support </div>
				</div>
				<div class="block">
					<div class="icon">
						<img src = "static/assets/images/homepage/people.png">
					</div>
					<div class="icontitle"> Community </div>
				</div>
			</div>
		</div>
		<div class="list">
			<div class="title"> Join us </div> 
			<div class ="paragraph"> Check out our resources for internships, scholarship, and more! </div>
		</div>
	</div>
</body>
</html>