<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css"
        href="assets/css/note_pastexams.css">
	</head>
<body>
	<div id="topbar">
		<div class="navbar-item">
			<img src = "assets/images/logo.jpg" align = "left">
		</div> 
		<div class="navbar-item"><img src = "assets/images/facebook.png"></div>
		<div class="navbar-item"><img src = "assets/images/instagram.png"></div>
		<div class="navbar-item"><img src = "assets/images/slack.png"></div>
		<div class="navbar-item"><img src = "assets/images/linkedin.png"></div>
		<div class="navbar-item"><img src = "assets/images/gmail.png"></div>
		<div class="navbar-item"> Home </div>
		<div class="navbar-item"> About WIM </div>
		<div class="navbar-item"> Events </div>
		<div class="navbar-item"> Resources </div>
		<div class = "navbar-item">
			<img src="assets/images/search.png"> </div>
		<div class = "navbar-item">	
			<input type="text" placeholder="Search">
		</div>
	</div>
	<div id="notes">
		<div class="course">

			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 1B (Calculus) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/1B_MT1_hutchings_sp06.pdf" download> Spring 2006 Midterm 1 | Hutchings </a> 
				<a href="notespastexams/pastexams/1B_MT1_sols_hutchings_sp06.pdf" download> Spring 2006 Midterm 1 solutions | Hutchings </a>
				<a href="notespastexams/pastexams/1B_MT2_hutchings_sp06.pdf" download> Spring 2006 Midterm 2 | Hutchings </a> 
				<a href="notespastexams/pastexams/1B_MT2_sols_hutchings_sp06.pdf" download> Spring 2006 Midterm 2 solutions | Hutchings </a>
				<a href="notespastexams/pastexams/1B_MT1.1-Sols_Paulin_F14.pdf" download> Fall 2014 Midterm 1-1 solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_MT1.2-Sols_Paulin_F14.pdf" download> Fall 2014 Midterm 1-2 solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT2_Paulin_F14.pdf" download> Fall 2014 Practice Midterm 2 | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT2Sols_Paulin_F14.pdf" download> Fall 2014 Practice Midterm 2 Solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_MT2.1-Sols_Paulin_F14.pdf" download> Fall 2014 Midterm 2-1 solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_MT2.2-Sols_Paulin_F14.pdf" download> Fall 2014 Midterm 2-2 solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_PFinal_Paulin_F14.pdf" download> Fall 2014 Practice Final | Paulin </a>
				<a href="notespastexams/pastexams/1B_PFinal_Sols_Paulin_F14.pdf" download> Fall 2014 Practice Final Solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT1.1_Reshetikhin.pdf" download> Spring 2015 Practice Midterm 1-1 | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT1.1_Sols_Reshetikhin.pdf" download> Spring 2015 Practice Midterm 1-1 Solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT1.2_Reshetikhin.pdf" download> Spring 2015 Practice Midterm 1-2 | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT1.2_Sols_Reshetikhin.pdf" download> Spring 2015 Practice Midterm 1-2 Solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT1.3_Reshetikhin.pdf" download> Spring 2015 Practice Midterm 1-3 | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT1.3_Sols_Reshetikhin.pdf" download> Spring 2015 Practice Midterm 1-3 Solutions | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT1.4_Reshetikhin.pdf" download> Spring 2015 Practice Midterm 1-4 | Paulin </a>
				<a href="notespastexams/pastexams/1B_PMT1.4_Sols_Reshetikhin.pdf" download> Spring 2015 Practice Midterm 1-4 Solutions | Paulin </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math H1B (Honors Calculus) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/H1B_MT1_PracticeProbs_Talaska_F11.pdf" download> Fall 2011 Practice Midterm 1 | Talaska </a>
				<a href="notespastexams/pastexams/H1B_MT1.1_Talaska_F11.pdf" download> Fall 2011 Midterm 1-1 | Talaska </a>
				<a href="notespastexams/pastexams/H1B_MT1.2_Talaska_F11.pdf" download> Fall 2011 Midterm 1-2 | Talaska </a>
				<a href="notespastexams/pastexams/H1B_MT2_PracticeProbs_Talaska_F11.pdf" download> Fall 2011 Practice Midterm 2 | Talaska </a>
				<a href="notespastexams/pastexams/H1B_MT2.1_Talaska_F11.pdf" download> Fall 2011 Midterm 2-1 | Talaska </a>
				<a href="notespastexams/pastexams/H1B_MT2.2_Talaska_F11.pdf" download> Fall 2011 Midterm 2-2 | Talaska </a>
				<a href="notespastexams/pastexams/H1B_Final_PracticeProbs_Talaska_F11.pdf" download> Fall 2011 Practice Final | Talaska </a>
				<a href="notespastexams/pastexams/H1B_Final.1_Talaska_F11.pdf" download> Fall 2011 Final 1 | Talaska </a>
				<a href="notespastexams/pastexams/H1B_Final.2_Talaska_F11.pdf" download> Fall 2011 Final 2 | Talaska </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 16A (Analytic Geometry and Calculus) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/16A_MT1_Sturmfels_F05.pdf" download> Fall 2005 Midterm 1 | Sturmfels </a>
				<a href="notespastexams/pastexams/16A_MT1Sols_Sturmfels_F05.pdf" download> Fall 2005 Midterm 1 Solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/16A_MT2_Sturmfels_F05.pdf" download> Fall 2005 Midterm 2 | Sturmfels </a>
				<a href="notespastexams/pastexams/16A_FinalSols_Sturmfels_F05.pdf" download> Fall 2005 Final Solutions | Sturmfels </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 53 (Multivariable Calculus) </div>
			<div class ="Notes"> Notes
				<a href="notespastexams/notes/53_sp15.pdf" download> Spring 2015 | Hutchings </a> 
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/53_mt1_hutchings_f03.pdf" download> Fall 2003 Midterm 1 | Hutchings </a>
				<a href="notespastexams/pastexams/53_mt2_hutchings_f03.pdf" download> Fall 2003 Midterm 2 | Hutchings </a>
				<a href="notespastexams/pastexams/53_Final_hutchings_f03.pdf" download> Fall 2003 Final | Hutchings </a>
				<a href="notespastexams/pastexams/53_mt1_hutchings_sp07.pdf" download> Spring 2007 Midterm 1 | Hutchings </a>
				<a href="notespastexams/pastexams/53_mt2_hutchings_sp07.pdf" download> Spring 2007 Midterm 2 | Hutchings </a>
				<a href="notespastexams/pastexams/53_Final_hutchings_sp07.pdf" download> Spring 2007 Final | Hutchings </a>
				<a href="notespastexams/pastexams/53_mt1_hutchings_f07.pdf" download> Fall 2007 Midterm 1 | Hutchings </a>
				<a href="notespastexams/pastexams/53_final_hutchings_f07.pdf" download> Fall 2007 Final | Hutchings </a>
				<a href="notespastexams/pastexams/53_mt1_hutchings_f07.pdf" download> Fall 2013 Practice Midterm 1 | Givental </a>
				<a href="notespastexams/pastexams/Math-53-Givental-Practice-Midterm-1-Fall-2013.pdf" download> Fall 2013 Practice Final | Givental </a>
				<a href="notespastexams/pastexams/Math-53-Givental-Practice-Final-Fall-2013.pdf" download> Fall 2013 Practice Final | Givental </a>

				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Midterm-1.1.pdf" download> Practice Midterm 1-1 | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Midterm-1.1-Solutions.pdf" download> Practice Midterm 1-1 solution | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Midterm-1.2.pdf" download> Practice Midterm 1-2 | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Midterm-1.2-Solutions.pdf" download> Practice Midterm 1-2 solution | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Midterm-2.1.pdf" download> Practice Midterm 2-1 | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Midterm-2.1-Solutions.pdf" download> Practice Midterm 2-1 solution | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Midterm-2.2.pdf" download> Practice Midterm 2-2 | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Midterm-2.2-Solutions.pdf" download> Practice Midterm 2-2 soluition | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Final.pdf" download> Practice Final | Auroux </a>
				<a href="notespastexams/pastexams/Math-53-Auroux-Practice-Final-Solutions.pdf" download> Practice Final solution | Auroux </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math H53 (Honors Multivariable Calculus) </div>
			<div class ="Notes"> Notes
				<a href="notespastexams/notes/H53_mt1review_sp15.pdf" download> Spring 2015 (midterm review 1) | Sun </a> 
				<a href="notespastexams/notes/H53_mt2review_sp15.pdf" download> Spring 2015 (midterm review 2) | Sun </a>
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/H53_Pmt1_sun_sp15.pdf" download> Spring 2015 Practice Midterm 1 | Sun </a>
				<a href="notespastexams/pastexams/H53_mt1_sols_sun_sp15.pdf" download> Spring 2015 Midterm 1 solutions | Sun </a>
				<a href="notespastexams/pastexams/H53_Pmt2_sun_sp15.pdf" download> Spring 2015 Practice Midterm 2 | Sun </a>
				<a href="notespastexams/pastexams/H53_mt1_sols_sun_sp15.pdf" download> Spring 2015 Midterm 2 solutions | Sun </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 54 (Linear Algebra & Differential Equations) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/54_mt1-sols_ribet_f05.pdf" download> Fall 2005 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/54_mt2-sols_ribet_f05.pdf" download> Fall 2005 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/54_final-sols_ribet_f05.pdf" download> Fall 2005 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/54_mt1-sols_ribet_sp07.pdf" download> Spring 2007 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/54_mt2-sols_ribet_sp07.pdf" download> Spring 2007 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/54_final-sols_ribet_sp07.pdf" download> Spring 2007 Final solutions | Ribet </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 55 (Discrete Mathematics) </div>
			<div class ="Notes"> Notes 
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/55_final_sols_ribet_sp96.pdf" download> Spring 1996 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/55_final_sols_ribet_f97.pdf" download> Fall 1997 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/55_MT1_Sturmfels_Sp09.pdf" download> Spring 2009 Midterm 1 | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT1Sols_Sturmfels_Sp09.pdf" download> Spring 2009 Midterm 1 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT2_Sturmfels_Sp09.pdf" download> Spring 2009 Midterm 2 | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT2Sols_Sturmfels_Sp09.pdf" download> Spring 2009 Midterm 2 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/55_Final_Sturmfels_Sp09.pdf" download> Spring 2009 Final | Sturmfels </a>
				<a href="notespastexams/pastexams/55_FinalSols_Sturmfels_Sp09.pdf" download> Spring 2009 Final solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT1_Sturmfels_Sp10.pdf" download> Spring 2010 Midterm 1 | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT1Sols_Sturmfels_Sp10.pdf" download> Spring 2010 Midterm 1 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT2_Sturmfels_Sp10.pdf" download> Spring 2010 Midterm 2 | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT2Sols_Sturmfels_Sp10.pdf" download> Spring 2010 Midterm 2 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/55_Final_Sturmfels_Sp10.pdf" download> Spring 2010 Final | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT1_Sturmfels_Sp12.pdf" download> Spring 2012 Midterm 1 | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT1Sols_Sturmfels_Sp12.pdf" download> Spring 2012 Midterm 1 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT2_Sturmfels_Sp12.pdf" download> Spring 2012 Midterm 2 | Sturmfels </a>
				<a href="notespastexams/pastexams/55_MT2Sols_Sturmfels_Sp12.pdf" download> Spring 2012 Midterm 2 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/55_Final_Sturmfels_Sp12.pdf" download> Spring 2012 Final | Sturmfels </a>
				<a href="notespastexams/pastexams/55_FinalSols_Sturmfels_Sp12.pdf" download> Spring 2012 Final solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/55_mt1-sols_ribet_sp13.pdf" download> Spring 2013 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/55_mt2-sols_ribet_sp13.pdf" download> Spring 2013 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/55_final-sols_ribet_sp13.pdf" download> Spring 2013 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/55_pmt1_williams_sp14.pdf" download> Spring 2014 Practice Midterm 1 | Williams </a>
				<a href="notespastexams/pastexams/55_pmt1_sols_williams_sp14.pdf" download> Spring 2014 Practice Midterm 1 solutions | Williams </a>
				<a href="notespastexams/pastexams/55_pmt2_williams_sp14.pdf" download> Spring 2014 Practice Midterm 2 | Williams </a>
				<a href="notespastexams/pastexams/55_pmt2_sols_williams_sp14.pdf" download> Spring 2014 Practice Midterm 2 solutions | Williams </a>
				<a href="notespastexams/pastexams/55_finalpractice_williams_sp14.pdf" download> Spring 2014 Practice Final | Williams </a>
				<a href="notespastexams/pastexams/55_finalpractice_sols_williams_sp14.pdf" download> Spring 2014 Practice Final solutions | Williams </a>
				<a href="notespastexams/pastexams/55_mt1-sols_ribet_sp15.pdf" download> Spring 2015 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/55_mt2-sols_ribet_sp15.pdf" download> Spring 2015 Midterm 2 solutions | Ribet </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 104 (Introduction to Analysis) </div>
			<div class ="Notes"> Notes
				<a href="notespastexams/notes/104_f14.pdf" download> Fall 2014 | Sun </a> 
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/104_mt1_sols_sun_f14.pdf" download> Fall 2014 Midterm 1 solutions | Sun </a>
				<a href="notespastexams/pastexams/104_mt2_sols_sun_f14.pdf" download> Fall 2014 Midterm 2 solutions | Sun </a>
				<a href="notespastexams/pastexams/104_final_sols_sun_f14.pdf" download> Fall 2014 Final solutions | Sun </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 110 (Linear Algebra) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/110_mt1-sols_ribbet_f02.pdf" download> Fall 2002 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_mt2-sols_ribbet_f02.pdf" download> Fall 2002 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_final-sols_ribbet_f02.pdf" download> Fall 2002 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_mt1-sols_ribbet_sp05.pdf" download> Spring 2005 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_mt2-sols_ribbet_sp05.pdf" download> Spring 2005 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_final-sols_ribbet_sp05.pdf" download> Spring 2005 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_mt1-sols_ribbet_f08.pdf" download> Fall 2008 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_mt2-sols_ribbet_f08.pdf" download> Fall 2008 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_final-sols_ribbet_f08.pdf" download> Fall 2008 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/Math-110-Givental-Final-Spring-2009.pdf" download> Spring 2009 Final | Givental </a>
				<a href="notespastexams/pastexams/Math-110-Givental-Final-Spring-2009-Solutions.png" download> Spring 2009 Final solution | Givental </a>
				<a href="notespastexams/pastexams/110_mt1-sols_ribbet_sp10.pdf" download> Spring 2010 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_mt2-sols_ribbet_sp10.pdf" download> Spring 2010 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_final-sols_ribbet_sp10.pdf" download> Spring 2010 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_mt1-sols_ribbet_sp14.pdf" download> Spring 2014 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_mt2-sols_ribbet_sp14.pdf" download> Spring 2014 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/110_final-sols_ribbet_sp14.pdf" download> Spring 2014 Final solutions | Ribet </a>		
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math H110 (Honors Linear Algebra) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/H110_mt1-sols_ribbet_f03.pdf" download> Fall 2003 Midterm 1 solutions | Ribet </a>	
				<a href="notespastexams/pastexams/H110_mt2-sols_ribbet_f03.pdf" download> Fall 2003 Midterm 2 solutions | Ribet </a>	
				<a href="notespastexams/pastexams/H110_final-sols_ribbet_f03.pdf" download> Fall 2003 Final solutions | Ribet </a>	
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 113 (Introduction to Abstract Algebra) </div>
			<div class ="Notes"> Notes
				<a href="notespastexams/notes/113_proofnotes_f09.pdf" download> Fall 2009 (proofs) | Hutchings </a> 
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/113_mt1_hutchings_sp03.pdf" download> Spring 2003 Midterm 1 | Hutchings </a>
				<a href="notespastexams/pastexams/113_mt1_sols_hutchings_sp03.pdf" download> Spring 2003 Midterm 1 solutions | Hutchings </a>
				<a href="notespastexams/pastexams/113_mt2-sols_hutchings_sp03.pdf" download> Spring 2003 Midterm 1 solutions | Hutchings </a>
				<a href="notespastexams/pastexams/113_MT1_Sturmfels_Sum06.pdf" download> Summer 2006 Midterm 1 | Sturmfels </a>
				<a href="notespastexams/pastexams/113_MT1Sols_Sturmfels_Sum06.pdf" download> Summer 2006 Midterm 1 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/113_MT2_Sturmfels_Sum06.pdf" download> Summer 2006 Midterm 2 | Sturmfels </a>
				<a href="notespastexams/pastexams/113_MT2Sols_Sturmfels_Sum06.pdf" download> Summer 2006 Midterm 2 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/113_Final_Sturmfels_Sum06.pdf" download> Summer 2006 Final | Sturmfels </a>
				<a href="notespastexams/pastexams/113_FinalSols_Sturmfels_Sum06.pdf" download> Summer 2006 Final solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/113_MT1_Sturmfels_Sum10.pdf" download> Summer 2010 Midterm 1 | Sturmfels </a>
				<a href="notespastexams/pastexams/113_MT1Sols_Sturmfels_Sum10.pdf" download> Summer 2010 Midterm 1 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/113_MT2_Sturmfels_Sum10.pdf" download> Summer 2010 Midterm 2 | Sturmfels </a>
				<a href="notespastexams/pastexams/113_MT2Sols_Sturmfels_Sum10.pdf" download> Summer 2010 Midterm 2 solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/113_Final_Sturmfels_Sum10.pdf" download> Summer 2010 Final | Sturmfels </a>
				<a href="notespastexams/pastexams/113_FinalSols_Sturmfels_Sum10.pdf" download> Summer 2010 Final solutions | Sturmfels </a>
				<a href="notespastexams/pastexams/113_PMT1_Talaska_F12.pdf" download> Fall 2012 Practice Midterm 1 | Talaska </a>
				<a href="notespastexams/pastexams/113_PMT1_Sols_Talaska_F12.pdf" download> Fall 2012 Practice Midterm 1 solutions | Talaska </a>
				<a href="notespastexams/pastexams/113_MT1_Talaska_F12.pdf" download> Fall 2012 Midterm 1 | Talaska </a>
				<a href="notespastexams/pastexams/113_MT1_Sols_Talaska_F12.pdf" download> Fall 2012 Midterm 1 solutions | Talaska </a>
				<a href="notespastexams/pastexams/113_PFinal_Talaska_F12.pdf" download> Fall 2012 Practice Final | Talaska </a>
				<a href="notespastexams/pastexams/113_Final_Talaska_F12.pdf" download> Fall 2012 Final | Talaska </a>
				<a href="notespastexams/pastexams/113_Final_Sols_Talaska_F12.pdf" download> Fall 2012 Final solutions | Talaska </a>
				<a href="notespastexams/pastexams/113_MT1_Talaska_Sp13.pdf" download> Spring 2013 Midterm 1 | Talaska </a>
				<a href="notespastexams/pastexams/113_MT1Sols_Talaska_Sp13.pdf" download> Spring 2013 Midterm 1 solutions | Talaska </a>
				<a href="notespastexams/pastexams/113_Final_Talaska_Sp13.pdf" download> Spring 2013 Final | Talaska </a>
				<a href="notespastexams/pastexams/113_mt1.1_ribbet_f13.pdf" download> Fall 2013 Midterm 1-1 | Ribet </a>
				<a href="notespastexams/pastexams/113_mt1.1-sols_ribbet_f13.pdf" download> Fall 2013 Midterm 1-1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/113_mt1.2_ribbet_f13.pdf" download> Fall 2013 Midterm 1-2 | Ribet </a>
				<a href="notespastexams/pastexams/113_mt1.2-sols_ribbet_f13.pdf" download> Fall 2013 Midterm 1-2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/113_mt2.1_ribbet_f13.pdf" download> Fall 2013 Midterm 2-1 | Ribet </a>
				<a href="notespastexams/pastexams/113_mt2.1-sols_ribbet_f13.pdf" download> Fall 2013 Midterm 2-1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/113_mt2.2_ribbet_f13.pdf" download> Fall 2013 Midterm 2-2 | Ribet </a>
				<a href="notespastexams/pastexams/113_mt2.2-sols_ribbet_f13.pdf" download> Fall 2013 Midterm 2-2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/113_final1-sols_ribbet_f13.pdf" download> Fall 2013 Final 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/113_final2-sols_ribbet_f13.pdf" download> Fall 2013 Final 2 solutions | Ribet </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math H113 (Honors Introduction to Abstract Algebra) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/H113_mt1-sols_ribbet_sp03.pdf" download> Spring 2003 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/H113_mt2-sols_ribbet_sp03.pdf" download> Spring 2003 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/H113_final-sols_ribbet_sp03.pdf" download> Spring 2003 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/Math-H113-Givental-Final-Spring-2008-Solutions.pdf" download> Spring 2008 Final solutions | Givental </a>
				<a href="notespastexams/pastexams/H113_Final_PracticeProbs_Talaska_F11.pdf" download> Fall 2011 Practice Final | Talaska </a>
				<a href="notespastexams/pastexams/H113_Final_Talaska_Sp12.pdf" download> Spring 2012 Final | Talaska </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 114 (Second Course in Abstract Algebra) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/114_mt1-sols_ribbet_sp04.pdf" download> Spring 2004 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/114_mt2-sols_ribbet_sp04.pdf" download> Spring 2004 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/114_final-sols_ribbet_sp04.pdf" download> Spring 2004 Final solutions | Ribet </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 115 (Introduction to Number Theory) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/115_mt1-sols_ribbet_sp98.pdf" download> Spring 1998 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt2-sols_ribbet_sp98.pdf" download> Spring 1998 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_final-sols_ribbet_sp98.pdf" download> Spring 1998 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt1-sols_ribbet_f99.pdf" download> Fall 1999 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt2-sols_ribbet_f99.pdf" download> Fall 1999 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_final-sols_ribbet_f99.pdf" download> Fall 1999 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt1-sols_ribbet_f00.pdf" download> Fall 2000 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt2-sols_ribbet_f00.pdf" download> Fall 2000 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_final-sols_ribbet_f00.pdf" download> Fall 2000 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt1-sols_ribbet_f06.pdf" download> Fall 2006 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt2-sols_ribbet_f06.pdf" download> Fall 2006 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_final-sols_ribbet_f06.pdf" download> Fall 2006 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt1-sols_ribbet_f12.pdf" download> Fall 2012 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_mt2-sols_ribbet_f12.pdf" download> Fall 2012 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/115_final-sols_ribbet_f12.pdf" download> Fall 2012 Final solutions | Ribet </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 116 (Cryptography) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/116_mt1-sols_ribbet_sp09.pdf" download> Spring 2009 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/116_mt2-sols_ribbet_sp09.pdf" download> Spring 2009 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/116_final-sols_ribbet_sp09.pdf" download> Spring 2009 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/116_mt1-sols_ribbet_sp10.pdf" download> Spring 2010 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/116_mt2-sols_ribbet_sp10.pdf" download> Spring 2010 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/116_final-sols_ribbet_sp10.pdf" download> Spring 2010 Final solutions | Ribet </a>
				<a href="notespastexams/pastexams/116_mt1-sols_ribbet_sp12.pdf" download> Spring 2012 Midterm 1 solutions | Ribet </a>
				<a href="notespastexams/pastexams/116_mt2-sols_ribbet_sp12.pdf" download> Spring 2012 Midterm 2 solutions | Ribet </a>
				<a href="notespastexams/pastexams/116_final-sols_ribbet_sp12.pdf" download> Spring 2012 Final solutions | Ribet </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 140 (Metric Differential Geometry) </div>
			<div class ="Notes"> Notes
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/Math-140-Givental-Midterm-Spring-2005-Solutions.pdf" download> Spring 2005 Midterm solutions | Givental </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 142 (Elementary Algebraic Topology) </div>
			<div class ="Notes"> Notes
				<a href="notespastexams/notes/142_notes_f14.pdf" download> Fall 2014 (notes) | Sun </a> 
				<a href="notespastexams/notes/142_review_f14.pdf" download> Fall 2014 (review) | Sun </a> 
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/142_mt1_sols_sun_f14.pdf" download> Fall 2014 Midterm 1 solutions | Sun </a>
				<a href="notespastexams/pastexams/142_mt2_sols_sun_f14.pdf" download> Fall 2014 Midterm 2 solutions | Sun </a>
				<a href="notespastexams/pastexams/142_final_sols_sun_f14.pdf" download> Fall 2014 Final solutions | Sun </a>
			</div>
		</div>

		<div class="course">
			<div class="class_name"> 
				<img src = "assets/images/bookicon.png"> Math 185 (Introduction to Complex Analysis) </div>
			<div class ="Notes"> Notes
				<a href="notespastexams/notes/H185_sp12.pdf" download> H185 Spring 2012 | Hutchings </a> 
			</div>
			<div class ="Exams"> Exams
				<a href="notespastexams/pastexams/185_MT1_Reshetikhin_Sum09.pdf" download> Summer 2009 Midterm 1 | Reshetikhin </a>
				<a href="notespastexams/pastexams/185_MT1_Reshetikhin_F11.pdf" download> Fall 2011 Midterm 1-1 | Reshetikhin </a>
				<a href="notespastexams/pastexams/185_MT1.2_Reshetikhin_F11.pdf" download> Fall 2011 Midterm 1-2 | Reshetikhin </a>
			</div>
		</div>
	</div>
</body>
</html>