<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css"
        href="assets/css/homepage.css">
	</head>
<body>
	<div id="topbar">
		<div class="navbar-item">
			<img src = "assets/images/logo.jpg" align = "left">
		</div> 
		<div class="navbar-item"><img src = "assets/images/facebook.png"></div>
		<div class="navbar-item"><img src = "assets/images/instagram.png"></div>
		<div class="navbar-item"><img src = "assets/images/slack.png"></div>
		<div class="navbar-item"><img src = "assets/images/linkedin.png"></div>
		<div class="navbar-item"><img src = "assets/images/gmail.png"></div>
		<div class="navbar-item"> Home </div>
		<div class="navbar-item"> About WIM </div>
		<div class="navbar-item"> Events </div>
		<div class="navbar-item"> Resources </div>
		<div class = "navbar-item">
			<img src="assets/images/search.png"> </div>
		<div class = "navbar-item">	
			<input type="text" placeholder="Search">
		</div>
	</div>
	<div id="resources">
		Resources
		<div class="block">
			<img src = "assets/images/officehours.png">
			<div class = "textblock"> Office Hours </div>
		</div>
		<div class="block">
			<img src = "assets/images/officehours.png">
			<div class = "textblock"> Office Hours </div>
		</div>
		<div class="block">
			<img src = "assets/images/officehours.png">
			<div class = "textblock"> Office Hours </div>
		</div>
		<div class="block">
			<img src = "assets/images/officehours.png">
			<div class = "textblock"> Office Hours </div>
		</div>
	</div>
</body>
</html>